{% extends "quizzes/index.html" %}

{% block body %}


<table class="table table-hover">
    <thead>
        <tr>
            <th>Deck name</th>
            <th>Last done</th>
            <th>Last score</th>
        </tr>
    </thead>
    <tbody>
        {% for deck in decks %}
        <tr>
            <td>{{ deck.name }}</td>
            <td>{{deck.last_result.date}}</td>
            <td>{{deck.last_result.score}}</td>
            <td><a href="/quizzes/detail/{{ deck.name }}/" class="btn btn-primary"> Start quiz </a></td>
            <td><a href="/quizzes/results/{{ deck.name }}/" class="btn btn-info"> Review results </a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}

