{% extends "quizzes/index.html" %}

{% block body %}

<a href="/quizzes/new/" class="btn btn-default pull-right">Add new deck</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Deck name</th>
            <th>Last done</th>
            <th>Last score</th>
        </tr>
    </thead>
    <tbody>
        {% for deck in decks %}
        <tr>
            <td>{{ deck.name }}</td>
            <td>{{deck.last_done}}</td>
            <td>{{deck.last_score}}</td>
            <td><a href="/quizzes/detail/{{ deck.id }}/" class="btn btn-primary"> Start quiz </a></td>
            <td><a href="/quizzes/results/{{ deck.id }}/" class="btn btn-info"> Review results </a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}

